body{
    font-size: 20px;
    margin: 0; 
    padding: 0; /*body預設會有留邊 */
}
.items{
    display:flex; 
    flex:auto; 
    justify-content:flex-end;
}

.item{
    padding-right: 5px;
    margin-right: 5px;
}

#listIcon{
    height:28px; display:none;
    padding-right: 5px;
    margin-right: 5px;
}

.slogan{
    font-size: 200%;
    display: flex; 
    height: 300px; 
    background-color: rgb(221,238,249);
    align-items:center;
    justify-content:center;
}

.content{
     width: 1200px;
     /* display:flex;  不能加入這條 */
}
.promotionBlock{
    display:flex;
    /* width: 1200px; */
}
.promotion{
    
    background-color: rgb(221,238,249);
    /* margin-right: 1%; */
    margin-bottom: 5px;
    margin-top: 5px;
    width:590px;
    display:flex;
    align-items:center;
    margin-right:5px ;
    margin-left:5px ;
}

.titles{
    display:flex;
    flex-wrap: wrap;
    /* align-items:center;
    justify-content:center; */
}

.titleBlock{
    background-color: rgb(221,238,249);
    width:290px;
    flex: none; 
    justify-content:center;
    align-items:center;
    margin:5px;
    overflow: hidden;
    /* display: inline; */
}

.titleImg{
    width: 100%;
    height: 200px;
    /* overflow: hidden; */
    object-fit: cover;
    /* display: block; */
}

.title{
    display: flex; 
    justify-content:center;
    /* align-items:center; */
}

@media(max-width:1200px){
    .content{
        width: 90%; 
    }
    .promotion{
        width:48%;
        margin:1%;
    }
    .titleBlock{
        width:48%;
        margin:1%;
        padding-right:0px ;
        padding-left:0px ;
        
    }
    .titleImg{
        width:100%;
        height:310px;
        justify-content:center;
        align-items:center;
    }
    .title{
        width:100%;
    }
}

@media(max-width:600px){
    .item{
        display: none;
    }
    
    #listIcon{
        display:block;
    }

    .promotionBlock{
        flex-wrap: wrap;
    }
    .promotion{
        width: 100%;
        margin-right: 0px;
        margin-left: 0px;
    }
    .titleBlock{
        width: 100%;
        margin-right: 0px;
        margin-left: 0px;
    }
    .titleImg{
        width: 100%;
    }
    .title{
        width:100%;
    }
}